# Optimizaciones de npm para Vercel
save-exact=true
auto-install-peers=true
node-linker=hoisted
prefer-frozen-lockfile=true
shamefully-hoist=true
strict-peer-dependencies=false
legacy-peer-deps=false 